<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Login to BCEnvironmentApp and mark tasks done</h1>
    <p>
      We haven't seen you in a while at BCEnvironmentApp so we are
      sending this reminder email to login and mark daily tasks as
      complete.
    </p>
    <p>
      To visit the the site, just follow click <%= link_to 'here', root_url %>.
    </p>
  </body>
</html>
