<% if !current_user %>
<p>Welcome to Behaviour Change Environment App made by Henri
  Hyyryläinen for the persuasive system design course.
</p>

You might want to <%= link_to('login', new_user_session_path) %> or perhaps
<%= link_to('register', new_user_registration_path) %>.

<% else %>

<p>Welcome <%= current_user.email %></p>

<p>This is your home view where you can see your daily tasks and progress.</p>

<% end %>
