<div class="footer">
  <hr>
  <span>
    Environment Behaviour Change app made by Henri Hyyryläinen for the PSD course.
    This app's code is on <a href="https://github.com/hhyyrylainen/BCEnvironmentApp">Github</a>
  </span>
</div>
